<!DOCTYPE html>
<html>
<head>
  <title><%= app_title %></title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id" content="<%= fb_app_id %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="og:image" content="https://<%= app_domain %>/og.jpg">
  <%= javascript_include_tag "vendor/modernizr" %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= render :partial => 'layouts/ga' if Rails.env == 'production' %>


</head>
<body class="<% if current_page?(root_url) %>index<%end%>">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= fb_app_id %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= fb_app_id %>',
      status     : true,
      xfbml      : true
    });

    FB.Canvas.setAutoGrow();
    FB.Canvas.scrollTo(0,0);
  };
</script>



<div class="clouds">

  <div class="fbtab">
    <div class="row">
      <div class="small-12 column">
        <%= yield %>
      </div>
    </div>
  </div>

</div>

  <%= render partial: "layouts/footer" %>



</body>
</html>